[submodule "lib/py_dmusic"]
	path = lib/py_dmusic
	url = https://github.com/pponsv/py_dmusic
[submodule "lib/lomb_periodogram"]
	path = lib/lomb_periodogram
	url = https://github.com/pponsv/lomb_periodogram
